/* General Page Styling */
.mainPage, .mainContainer {
  height: 100vh !important; /* Full viewport height */
  width: 100%;
  display: flex;
  flex-direction: column;
}
.weblogo{
    margin-left: -50px !important;
}

/* Header Styling */
.headerBar {
  background-color: white !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  max-width: 100px;
  height: auto;
}

.logoText {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.navBar {
  display: flex;
  flex-wrap: wrap;           /* Allow items to wrap to new line */
  justify-content: flex-end; /* Align to right on desktop */
  align-items: center;
  gap: 12px;                 /* Adds spacing between items */
  text-align: center;
}

.navText {
  color: #000000 !important;
  font-size: 15px;
  font-weight: bold !important;
  background-color: transparent !important;
  cursor: pointer;
  text-decoration: none !important;
  transition: color 0.3s ease;
}

.navText:hover {
  color: #00bcd4 !important;
}

/* Login Button */
.loginButton {
  background-color: #1bb2bf !important;
  border-radius: 10px !important;
  color: rgb(214, 22, 22) !important;
  font-weight: bold;
  font-size: 1rem !important;
}

/* Homepage Background */
.Homepage {
  background-image: url("../image/Homepage1.png");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.6rem;
}
/* Welcome Text */
.custom-welcome {
  line-height: 1;
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: League spartan !important;
}
.custom-text{
    font-size: 20px !important;
}
.custom-tagline {
  font-size: 48px;
  font-family: League spartan !important;
  color: #ffffff;
  font-weight: bold;
}
.RoomBook{
    font-size: 50px;
    height: 100px;
    width: 100px;
}

.HostelRooms{
    background-image: url("../image/HostelRoom.png");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.6rem;
}
.Welcomeroomtext{
 line-height: 1;
  color: black;
  font-size: 48px;
  font-weight: bold;
  font-family: League spartan !important;
}
.section-image{
      border-radius: 10px 10px 0 0 ;
  max-width: 100%;
  height: auto;
}
